form
  margin 1em auto
.form-group
  margin 1em
.form-group label:first-child
  display inline-block
  width 45%
  padding .5em 1em
  text-align right
  vertical-align top
.form-group p
  margin-left 45%
  font-size .8em
.form-group input
  border-radius 2px
  border 1px solid #ddd
  padding .1em .5em
  font-size .8em
  margin .4em 0
.form-group select
  border-radius 2px
  border 1px solid #ddd
  padding .1em .5em
  font-size .8em
.form-group input[type=submit]
  font-size 1.1em
  font-weight bold
  color #ffffff
  text-align center
  width 100%
  padding .8em
  border-radius 5px
  background-color dodgerblue
.form-group textarea
  width 300px
  height 100px
