extends layout/main

block css
    //-link(href="#{PATH}/css/detail.css" rel="stylesheet")
    //-link(href="#{PATH}/css/assess.css" rel="stylesheet")
    //-link(href="../stylus/task01.css" rel="stylesheet")
    link(href="../stylus/task04.css" rel="stylesheet")
    //-link(href="../css/bootstrap.css" rel="stylesheet")

block content
    div(class="center-content")
        div(class="top-left")
        div(class="bottom-right")

