doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description" content="elloooooo's work")
        meta(name="keywords" content="baidu前端学习,baidu-ife,bvolk")
        title task06
        link(href="../stylus/task06.css" rel="stylesheet")
    body
        div(class="container")
            header
                span ife.baidu.com
                span 2016.03

            div(class="group")
                article(class="main")
                    figure(class="banner")
                        img(src="../img/task06/pic01.jpg")
                    section
                        h2 What
                        p 前端前端前端前端前端前端前端前端前端
                    section
                        h2 When
                        p 前端前端前端前端前端前端前端前端前端
                    section
                        h3 How
                        p 前端前端前端前端前端前端前端前端前端
                        ul
                            li 40%
                            li 30%
                            li 30%

                aside(class="main")
                    h2 About TECHNOLOGE
                    p about technology about technology about technology about technology
                    p 700
                    p 3.2
                    h3 css
                    p csscsscsscsscss
            div(class="group")
                article(class="second")
                    h2 The Technology of front
                    h3 前端技术领域
                    p 各种字各种字各种字各种字各种字各种字各种字各种字各种字
                        |各种字各种字各种字各种字各种字各种字各种字各种字各种字
                        |各种字各种字各种字各种字各种字各种字各种字各种字各种字
                        |各种字各种字各种字各种字各种字各种字各种字各种字
                        img(src="../img/hashiqi.jpeg",width="110px")

                aside(class="second")
                    figure
                        figcaption 前端技术
                        img(src="../img/task06/pic01.jpg",width="458px")
                    div
                        ul
                            li 前端前端前端前端前端前端...前端
                            li 前端前端前端前端..........前端
                            li 前端前端前端前端前端前端前端前端...前端
                    div
                        h1 0
                        p ONE&nbsp;TWO&nbsp;THREE&nbsp;FOUR&nbsp;FIVE
                        p hello world hello world

                    div
                        blockquote world hello world hello world hello world hello world hello world
            footer
