extends layout/main

block css
    //link(href="#{PATH}/css/detail.css" rel="stylesheet")
    //link(href="#{PATH}/css/assess.css" rel="stylesheet")
    link(href="../stylus/task01.css" rel="stylesheet")
    //link(href="../css/bootstrap.css" rel="stylesheet")

block content
    #target

block footer
    //- script(data-main="#{wwwroot}/js/page1" src="#{wwwroot}/vender/require.js")
    //- 默认wwwroot=domain+routerPath,是网络上的静态资源，为了本地测试方便，改成相对目录
    //- script(data-main="../js/page1" src="../vender/require.js")
    //script(data-main="../js/test" src="../vender/require.js")
