doctype html
html
    head
        meta(charset="utf-8")
        title IFE JavaScript Task 03
    body
        ul(id="source")
            li 北京空气质量：
                b 90
            li 上海空气质量：
                b 70
            li 天津空气质量：
                b 80
            li 广州空气质量：
                b 50
            li 深圳空气质量：
                b 40
            li 福州空气质量：
                b 32
            li 成都空气质量：
                b 90
        ul(id="resort")

        button(id="sort-btn") 排序

        script(src="../coffee/task15.js")