@import 'module/base'
//@import 'module/nav'

#container
  height 300px
  display flex
  display -webkit-flex
  -webkit-align-items center
  align-items center
  -webkit-justify-content center
  justify-content center

#target
  background-color: red
  width: 960px
  height: 200px
