@import 'module/base'

body
  background-color #938e8c

header
  background-color #ffffff
  height 61px
  border-bottom solid 2px #938e8c

.container
  background-color #ffffff
  width 980px
  height 1386px
  padding 0 44px
  margin 0 auto

.container article,.container aside
  float left


figure.banner img
  width 641px
  height 301px
  margin 30px 0

article.main
  width 641px
article.main section
  width 33.3%
  float left

aside.main
  width 203px

div.group:after
  content ""
  display block
  clear both
  visibility hidden
  height 0

article.second
  width 50%
aside.second
  width 50%

.second img
  float right